*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFD738;
}


.pesquisa{
    width: 100%;
    height:75px;
    background-color: #eee;
    margin: 0 auto;
}

#filtro{
    width: 70%;
    display: inline-block;
    padding: 10px;
}