.card{

    width: 350px;
    height: 150px;
    background-color: darkorange;
    border-radius: 50%;
    margin: 0 auto;  
    text-align: center;
    border: 2px black solid; 
}

img{
    width: 100px;
    height: 100px;
}


.card p {
    padding: 5px;
    color: crimson;
}



input[type="search"]{
    border-radius: 100px;
    padding: 20px;
    
}

input::placeholder{
    color: mediumblue;
}