body{
    background-color: orangered;
}

.nome{
    padding: 10px;
    width: 300px;
    margin: 0 0 40px;
    
}


label{
    background-color: yellowgreen;
    padding: 10px;
}
   


.card{
    width: 300px;
    height: 150px;
    background-color: crimson;
    margin: 0 40px;
   
}

.card  img{
    text-align: center;
    height: 100px;
    display: block;
    margin: auto;
}


.card p{
    color: wheat;
    text-align: center;
}